/* спросить: почему меняется размер листа, как сделать крестик не эмодзи,
 как центрировать сообщение  no items*/

body{
    background-color: #325050;
}

.inputs {
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 50pt;
    color: white;
    font-family: "Rampart One", Impact;
    word-spacing: 2cqb;
    letter-spacing:-2cqb;
}

button{
    text-align: center;
}

button[type="submit"]{
    background-color: gray;
}

button[type="reset"]{
    background-color:darkred;
}

input[type="text"]{
    width: 90%;
    font-family: 'Viaoda Libre';
}

form *{
    font-family: "Viaoda Libre";
    font-weight: 500;
    font-size: large;
    margin: 0px;
    padding: 10px;
    border-width: 0;
}

input[type="checkbox"]{
    content: "✓";
    appearance: none;
    outline: none;
    font-size: 17pt;
    font-weight: bold;
    width: 50px;
    height: 20px;
    margin: 5px;
}

input[type="checkbox"]:checked::after{
    content: "✓";
    font-size: 17pt;
    font-weight:bold;
    width: 50px;
    height: 20px;
    margin: 5px;
    color:rgb(6, 66, 66);
}

li:has(input[type="checkbox"]:checked){
    background-color: rgb(96, 209, 175);
    text-decoration: line-through;
}


footer{
    color: white;
    font-family: "Quintessential";
}

.todolist{
    width: 50%;
    margin: 50px auto;
    top: 50px;
    list-style:none;
    height: 50vh;
    padding-inline-start:0px;
    width: 50vw;
    overflow: auto;
}
.todolist li{
    height: 40px;
    width: 100%;
    background-color: white;
    vertical-align: center;
}

.todolist li:hover{
    background-color: lightgrey;
}

.todolist:empty::before{
    content: "No items found";
    background-color: white;
    font-family: 'Viaoda Libre';
}